<a href="https://colab.research.google.com/github/danieltchikeva/CursoIntensivoDePython_dt/blob/main/CursoIntensivoDePython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FORMATAÇÃO DE ESPAÇO EM BRANCO

Python lê tabulações e espaços como recuos diferentes.
Em Python use sempre espaço e nunca tabuções.

In [ ]:
#Com espaço. Passando o mesmo codigo no shell do Python dá erro! Para evitar este erro use o IPython (%paste)
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
print(list_of_lists)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
#USANDO UM BARRA INVERTIDA \ QUE INDICA QUE A INSTRUÇÃO CONTINUA NA PRÓXIMA LINHA
two_plus_three = 1994 - \
2114
print(two_plus_three, 'anos')
print('Com esta idade ainda sou jovem. Amo viver!')

-120 anos
Com esta idade ainda sou jovem. Amo viver!

# MÓDULOS

In [ ]:
import re as regex
my_regex = regex.compile("[0-9] +", regex.I)
print(my_regex)

re.compile('[0-9] +', re.IGNORECASE)

# FUNÇÕES

In [ ]:
def soma():
  num1 = 24
  num2 = 47
  total = num1 + num2
  print(f"Total: {total}")

In [ ]:
soma()

In [ ]:
#PASSANDO PARÁMETROS
def soma(num1, num2):
  total = num1 + num2
  print(f"Total: {total}")

In [ ]:
soma(89, 36)

Total: 125

In [ ]:
#USANDO RETURN
def soma (num1, num2):
  total = num1 + num2
  return total

x = soma(15, 65)

In [ ]:
print(f"Resultado: {x}")

Resultado: 80

In [ ]:
#FUNÇÃO QUE CHAMA OUTRA FUNÇÃO
def maior_valor(valores):
  return max(valores)
  print(f"Maior valor: {capturar_numeros}")

def capturar_numeros():
  lista_numeros = []
  while True:
    numero = int(input("Informe um número inteiro ou zero para sair: "))
    if numero == 0:
      break
    lista_numeros.append(numero)
  return maior_valor(lista_numeros)

In [ ]:
#FUNÇÃO E MAP

def calculaQuadrado(numero):
  return f"A raiz quadrada de {numero} é: {numero **2}"

lista_numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9]
calculo = map(calculaQuadrado, lista_numeros)

for n in calculo:
  print(n)

In [ ]:
#Map e Expressão Lambda

lista_numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9]
calculo = map(lambda x: f"A raiz quadrada de {x} é: {x ** 2}", lista_numeros)

for n in calculo:
  print(n)

In [ ]:
#A SOMA DE DUAS LISTAS COM EXPRESSÃO LAMBDA

lista_numeros1 = [9, 8, 7, 6, 5, 4, 3, 2, 1]
lista_numeros2 = [7, 3, 4, 5, 6, 2, 8, 9, 2]
calculo = map(lambda x, y: f"A soma de {x} + {y} é: {x + y}", lista_numeros1, lista_numeros2)

for n in calculo:
  print(n)

In [ ]:
#EXPRESSÃO LAMBDA
tabuada = [
    lambda x: f"{x} * 1 = " + str(x * 1),
    lambda x: f"{x} * 2 = " + str(x * 2),
    lambda x: f"{x} * 3 = " + str(x * 3),
    lambda x: f"{x} * 4 = " + str(x * 4),
    lambda x: f"{x} * 5 = " + str(x * 5),
    lambda x: f"{x} * 6 = " + str(x * 6),
    lambda x: f"{x} * 7 = " + str(x * 7),
    lambda x: f"{x} * 8 = " + str(x * 8),
    lambda x: f"{x} * 9 = " + str(x * 9),
    lambda x: f"{x} * 10 = " + str(x * 10),
]

print("============== TABUADA DE MULTIPLICAÇÃO ====================")
print()
numero = int(input("Informe o número para gerar a tabuada: "))

for x in tabuada:
  print(x(numero))

============== TABUADA DE MULTIPLICAÇÃO ====================

Informe o número para gerar a tabuada: 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [ ]:
#EXPRESSÃO LAMBDA
tabuada = [
    lambda x: f"{x} / 1 = " + str(x / 1),
    lambda x: f"{x} / 2 = " + str(x / 2),
    lambda x: f"{x} / 3 = " + str(x / 3),
    lambda x: f"{x} / 4 = " + str(x / 4),
    lambda x: f"{x} / 5 = " + str(x / 5),
    lambda x: f"{x} / 6 = " + str(x / 6),
    lambda x: f"{x} / 7 = " + str(x / 7),
    lambda x: f"{x} / 8 = " + str(x / 8),
    lambda x: f"{x} / 9 = " + str(x / 9),
    lambda x: f"{x} / 10 = " + str(x / 10),
]

print("============== TABUADA DE DIVISÃO ====================")
print()
numero = int(input("Informe o número para gerar a tabuada: "))

for x in tabuada:
  print(x(numero))

============== TABUADA DE DIVISÃO ====================

Informe o número para gerar a tabuada: 640
640 / 1 = 640.0
640 / 2 = 320.0
640 / 3 = 213.33333333333334
640 / 4 = 160.0
640 / 5 = 128.0
640 / 6 = 106.66666666666667
640 / 7 = 91.42857142857143
640 / 8 = 80.0
640 / 9 = 71.11111111111111
640 / 10 = 64.0

In [ ]:
#EXPRESSÃO LAMBDA
tabuada = [
    lambda x: f"{x} - 1 = " + str(x - 1),
    lambda x: f"{x} - 2 = " + str(x - 2),
    lambda x: f"{x} - 3 = " + str(x - 3),
    lambda x: f"{x} - 4 = " + str(x - 4),
    lambda x: f"{x} - 5 = " + str(x - 5),
    lambda x: f"{x} - 6 = " + str(x - 6),
    lambda x: f"{x} - 7 = " + str(x - 7),
    lambda x: f"{x} - 8 = " + str(x - 8),
    lambda x: f"{x} - 9 = " + str(x - 9),
    lambda x: f"{x} - 10 = " + str(x - 10),
]
print("============== TABUADA DE SUBTRAÇÃO ====================")
print()
numero = int(input("Informe o número para gerar a tabuada: "))

for x in tabuada:
  print(x(numero))

In [ ]:
#EXPRESSÃO LAMBDA
tabuada = [
    lambda x: f"{x} + 1 = " + str(x + 1),
    lambda x: f"{x} + 2 = " + str(x + 2),
    lambda x: f"{x} + 3 = " + str(x + 3),
    lambda x: f"{x} + 4 = " + str(x + 4),
    lambda x: f"{x} + 5 = " + str(x + 5),
    lambda x: f"{x} + 6 = " + str(x + 6),
    lambda x: f"{x} + 7 = " + str(x + 7),
    lambda x: f"{x} + 8 = " + str(x + 8),
    lambda x: f"{x} + 9 = " + str(x + 9),
    lambda x: f"{x} + 10 = " + str(x + 10),
]

print("============== TABUADA DE ADIÇÃO ====================")
print()
numero = int(input("Informe o número para gerar a tabuada: "))

for x in tabuada:
  print(x(numero))

============== TABUADA DE ADIÇÃO ====================

Informe o número para gerar a tabuada: 9
9 + 1 = 10
9 + 2 = 11
9 + 3 = 12
9 + 4 = 13
9 + 5 = 14
9 + 6 = 15
9 + 7 = 16
9 + 8 = 17
9 + 9 = 18
9 + 10 = 19

In [ ]:
#FUNÇÃO RECURSIVA
def fatorial(x):
  if x <= 1:
    return 1
  else:
    return (x * fatorial(x-1))

num = int(input("Informe um número para encontrar o fatorial: "))

print("O fatorial de", num, "é", fatorial(num))

In [ ]:
#FUNÇÃO DE VALIDAÇÃO DE ENTRADA DE DADOS
def validar_faixa(numero, inicio, fim):
  if numero.isdigit():
    if int (numero) < int(inicio) or int (numero) > int(fim):
      print(f"Valor inválido! Informe um número entre {inicio} "
            f"e {fim}.")
    else:
        return True
  else:
    print(f"Número inválido! Informe um número inteiro entre "
          f"{inicio} e {fim}.")


while True:
  resp = input("Informe um número entre 1 e 10: ")
  if validar_faixa(resp, 1, 10):
    break

In [ ]:
#FUNÇÃO DE VALIDAÇÃO DE ENTRADA DE DADOS

def validar_tamanho(texto, maximo):
  if len(texto) > maximo:
    print(f"O texto deve conter no máximo {maximo} caracteres!")
  else:
    return True

while True:
  texto = input("Informe um texto de no máximo 10 caracteres: ")
  if validar_tamanho(texto, 10):
    break

In [ ]:
#FUNÇÃO DE VALIDAÇÃO DE ENTRADA DE DADOS

def valida_elementos(texto, lista):
  if texto.upper() in lista:
    return True
  else:
    print("Opção inválida, veja as opções disponíveis: ")
    for item in lista:
      print(item)

while True:
  lista = {"LAMBORGINI", "MERCEDES", "ROSROYLL", "TESLA", "AUD", "RANGER ROVER", "FERRARI"}
  resp = input("Informe uma marca de carro da sua preferência: ")
  if valida_elementos(resp, lista):
    break

# OPERAÇÕES MATEMÁTICAS
**Exercises 1**

Ler dois números inteiros, executar e mostrar o resultado das seguintes operações: adição, subtração, multiplicação e divisão

In [ ]:
x = int(input ('Digite o o primeiro número: '))
y = int(input ('Digite o segundo número: '))
print(x, y)

Digite o o primeiro número: 85
Digite o segundo número: 36
85 36

In [ ]:
adicao = x + y
subtracao = x - y
multiplicacao = x * y
divisao = x / y

In [ ]:
print('Adição: ', adicao)
print('Subtração: ', subtracao)
print('Multiplicação: ', multiplicacao )
print('Divisão: ', divisao)

Adição:  121
Subtração:  49
Multiplicação:  3060
Divisão:  2.361111111111111

**Exercise 2**

Efetuar o cálculo da quantidade de litros de combustível gasto em uma viagem, utilizando um automóvel que faz 12 Km por litro. Para obter o cálculo, o usuário deve fornecer o tempo gasto na viagem e a velocidade média durante ela. Desta forma, será possível obter a distância percorrida com a fórmula DISTANCIA = TEMPO * VELOCIDADE. Tendo o valor da distância, basta calcular a quantidade de litros de combustível utilizada na viagem, com a fórmula: LITROS_USADOS = DISTANCIA / 12. O programa deve apresentar os valores da velocidade média, tempo gasto na viagem, a distância percorrida e a quantidade de litros utilizada na viagem

In [ ]:
tempo = float(input('Digite o tempo gasto na viagem: '))
velocidade = float(input('Digite a velocidade média: '))

#Calculando a quantidade de litros gastos
distancia = tempo * velocidade
litros_usado = distancia / 12
print()
print('Tempo gasto na viagem', tempo,'h')
print('Velocidade média', velocidade,'km')
print ('Distância percorrida:', distancia,'km')
print('Quantidade de litros:', round(litros_usado,1),'L')

Digite o tempo gasto na viagem: 7
Digite a velocidade média: 1000

Tempo gasto na viagem 7.0 h
Velocidade média 1000.0 km
Distância percorrida: 7000.0 km
Quantidade de litros: 583.3 L

# OPERADORES LÓGICOS, CONDICIONAIS E RELACIONAIS

**Exercise 1**

Leia a idade do usuário e classifique-o em:

Criança – 0 a 12 anos
Adolescente – 13 a 17 anos
Adulto – acima de 18 anos -Se o usuário digitar um número negativo, mostrar a mensagem que a idade é inválida

In [ ]:
idade = int(input('Digite a idade: '))
print('Idade:', idade,'anos?')

if idade >= 0 and idade <=12:
  print('Você é bêbê!')
elif idade > 12 and idade <= 18:
    print('Você é mocinho(a)')
elif idade > 18 and idade <= 59:
    print('Você é jovem!')
elif idade > 59:
  print('Você é senhor')
else:
    print('Sacanagem, você inseriu idade inválida')

Digite a idade: 7
Idade: 7 anos?
Você é bêbê!

# STRINGS

In [ ]:
#VERIFICAÇÃO DE STRINGS E CONVERSÃO PARA MAIÚSCULAS
nome = "Daniel Tchikeva"
nome.startswith("Daniel")

True

In [ ]:
nome.startswith("Tchi")

False

In [ ]:
nome.endswith("Tchikevak")

False

In [ ]:
nome.endswith("Tchikeva")

True

In [ ]:
#USANDO OPERADOR in PARA VERIFICAR SE UMA PALAVRA ESTÁ CONTIDA NA STRING
a = "Sou um homem inteligente, saudável, rico e próspero"
"falar" in a

False

In [ ]:
"comer" in a

False

In [ ]:
"homem inteligente" in a

True

In [ ]:
"prospero" in a

False

In [ ]:
"próspero" in a

True

In [ ]:
#USANDO OPERADOR not in PARA VERIFICAR SE UMA PALAVRA ESTÁ CONTIDA NA STRING
"homem" not in a

False

In [ ]:
"homem" in a

True

In [ ]:
#CONVERTER UMA STRING EM MAIÚSCULA OU MINÚSCULA COM MÉTODOS upper e lower
#Todas minúsculas
a.lower()

'sou um homem inteligente, saudável, rico e próspero'

In [ ]:
#Todas maiúsculas
a.upper()

'SOU UM HOMEM INTELIGENTE, SAUDÁVEL, RICO E PRÓSPERO'

In [ ]:
#CONTAR ELEMENTOS DE UMA STRING USANDO O MÉTODO count
rico = "Ser rico proporciona liberdade; Ser rico proporciona autonomia. Ser rico não se recume apenas em ter dinheiro. \
Ser rico significa ter uma vida abundante, saudável, ser amado e amar a família.\
Desfrutar do melhor que existe na Terra."

In [ ]:
rico.count("família")

1

In [ ]:
rico.count("Ser rico")

4

In [ ]:
rico.count("proporciona")

2

In [ ]:
vida_rica = "Ser rico proporciona liberdade; Ser rico proporciona autonomia; Ser rico não se recume apenas em ter dinheiro; \
Ser rico significa ter uma vida abundante, saudável, ser amado e amar a família;\
Desfrutar do melhor que existe na Terra."

In [ ]:
lista_vida_rica = vida_rica.split(";")

In [ ]:
lista_vida_rica

['Ser rico proporciona liberdade',
 ' Ser rico proporciona autonomia',
 ' Ser rico não se recume apenas em ter dinheiro',
 ' Ser rico significa ter uma vida abundante, saudável, ser amado e amar a família',
 'Desfrutar do melhor que existe na Terra.']

In [ ]:
#SUBSTITUINDO UMA STRING USANDO O MÉTODO replace
texto1 = "Ser rico proporciona liberdade; Ser rico proporciona autonomia. Ser rico não se recume apenas em ter dinheiro. \
Ser rico significa ter uma vida abundante, saudável, ser amado e amar a família.\
Desfrutar do melhor que existe na Terra."

In [ ]:
texto2 = texto1.replace("Ser rico", "Vida rica")

In [ ]:
texto2

'Vida rica proporciona liberdade; Vida rica proporciona autonomia. Vida rica não se recume apenas em ter dinheiro. Vida rica significa ter uma vida abundante, saudável, ser amado e amar a família.Desfrutar do melhor que existe na Terra.'

In [ ]:
texto3 = texto2.replace("recume", "resume")

In [ ]:
texto3

'Vida rica proporciona liberdade; Vida rica proporciona autonomia. Vida rica não se resume apenas em ter dinheiro. Vida rica significa ter uma vida abundante, saudável, ser amado e amar a família.Desfrutar do melhor que existe na Terra.'

# POO

**Herança**

In [ ]:
#CLASSE BASE

class Classe_base():
  def __init__(self, valor1, valor2):
    print("Método construtor da classe base")
    self.valor1 = valor1
    self.valor2 = valor2

  def somar(self):
    return self.valor1 + self.valor2

  def subtrair(self):
    return self.valor1 - self.valor2

#CLASSE DERIVADA

class Classe_derivada1(Classe_base):
  def __init__(self, v1, v2):
    print("Método construtor da classe derivada1.")
    super().__init__(v1, v2)

  def imprimir(self, texto):
    print(texto)

#CLASSE DERIVADA2

class Classe_derivada2(Classe_base):
  def multiplicar(self, num1, num2):
    return num1 * num2